BODY
{
	MARGIN:0;
}

.MAIN-CONTAINER
{
	HEIGHT:30PX;
	BACKGROUND-COLOR:BLACK;
	WIDTH:100%;
	
}
.head-area
{
	HEIGHT:65PX;
	WIDTH:90%;
	BACKGROUND-COLOR:#f7f8f7;
	MARGIN:AUTO;
}
.head-area-content
{
	height:30px;
	width:90%;
	margin:auto;
	
}

.phone-icon
{
	
	
	float:left;
}
.phone-icon span
{
	float: right;
    color: white;
    padding: 6px 4px;
}
.phone-icon img
{
	padding:6px;
}
.account-detail
{
	width:20%;

	
	float:right;
}
.account-info p
{
	line-height: 0px;
font-size: 14px;
color: white;
font-weight: bold;
margin-left:20px;
float:left;
}
.LOGO-AREA
{
	
float: left;
width:18%;
}
.logo-area img
{
	
	padding:8px 0;
	
}
.menu-bar
{
	    
    float: left;
}
.menu-bar ul
{
	    margin: 0;
   
    height: 62px;
    padding: 0;
}
.menu-bar li
{
	display: inline-block;
    padding: 22px 12px;
    float: left;
    font-size: 16px;
    font-weight: bold;
}
.SEARCH-AREA{
	WIDTH: 35%;
    float: right;
    padding: 6px 0

	
	
}
.search-area-text
{
	    width: 87%;
    padding: 11px 15px;
    font-size: 16px;
    margin: 5px;
    border-radius: 3px;
    border: unset;
    background-color: white;
}
/*.Buttons
{
	

	float:left;
	
}
.buttons button
{
	padding: 6px 20px;
font-size: 18px;
margin-top: 12px;
}
.menu-bar
{
	background-color:black;
	height:40px;
	
	margin:auto;
	
}
.diffr-option
{
	padding: 4px;
font-size: 14px;
margin: 6px 70px;
}*/

.images-area{
	width:90%;
	background-color:whitesmoke;
	margin:auto;
	height:350px;
}
.image1
{
	width:23%;
	
	float:left;
	
	
	margin:13px 12px;
}
.image1 img{
	width:100%;
	border-radius:50%;
	
}
.image1 p
{
	    font-size: 20px;
    font-weight: bolder;
    color: black;
	text-align:center;
	line-height:0;
}
.image1 span
{
	    font-size: 14px;
    font-weight: bold;
    color: #c8c3c3;
    line-height: 0;
	padding:94px;
	line-height:0;

}
/* index page end */

/* home page start */
.home-mid-area
{
	width:90%;
	margin:auto;
	background-color:#f7f8f7;
	height:500px;
}

.home-images-area
{
	width:22%;
	
	background-color:#e0e8eb;
	float:left;
	margin:10px 18px;
}
.home-images-area img
{
	width:100%;
	
}
.home-images-area p
{
	    font-size: 16px;
    font-weight: bold;
    text-align: center;
	line-height:0;
}









/* home page end */

/* about page start */
.about-mid-side
{
	width: 90%;
   
    margin: auto;
	
}
.about-mid-area
{
	width: 50%;
    float: left;
}
#heading
{
	font-size:18px;
	font-weight:bold;
	
}
.button1
{
	  background-color: #ff9f00;
   
    padding: 17px 32px;
    font-size: 18px;
	 width:30%;
	float:left;
	text-align:center;
	font-weight:bold;
}
.button2
{
	background-color: #fb641b;
    width:30%;
	float:left;
    padding: 17px 32px;
    font-size: 18px;
	text-align:center;
	margin-left:14px;
	font-weight:bold;
}
/*.about-left-side
{
	width:10%;
	
	background-color:black;
	float:left;
}
.about-left-img
{
	width:100%;
	
	background-color:blue;
	
}
.about-left-img img
{
	width:100%;
}
.about-image2 img
{
	    height: 400px;
    padding: 10px 60px;
	
}*/
.about-right-side
{
	width:50%;
	float:left;
	
}
.part-images
{
	height:64px;
	width:13%;
	background-color:green;
	float:left;
	
}