BODY
{
	MARGIN:0;
}

.MAIN-CONTAINER
{
	HEIGHT:30PX;
	BACKGROUND-COLOR:BLACK;
	WIDTH:100%;
	
}
.head-area
{
	HEIGHT:92PX;
	WIDTH:90%;
	BACKGROUND-COLOR:white;
	MARGIN:AUTO;
}
.head-area-content
{
	height:30px;
	width:90%;
	margin:auto;
	
}

.phone-icon
{
	
	width:40%;
	float:left;
}
.phone-icon img
{
	padding:6px;
}
.account-detail
{
	width:20%;

	height:30px;
	float:right;
}
.account-info p
{
	line-height: 0px;
font-size: 18px;
color: white;
font-weight: bold;
padding: 0 15px;
margin: 14px 0;
}
.LOGO-AREA
{
	WIDTH: 20%;
float: left;
padding: 15px 0;
}
.logo-area img
{
	
	padding:6px 0;
	
}
.SEARCH-AREA{
	WIDTH: 40%;
float: left;
padding: 15px 0;

	
	
}
.search-area-text
{
	width:87%;
padding: 9px 15px;
font-size: 16px;
margin: 11px;
border-radius: 3px;
border: unset;
background-color:aliceblue;
	
}
.Buttons
{
	
	padding: 15px 0;
	float:left;
	
}
.buttons button
{
	padding: 6px 40px;
font-size: 18px;
margin-top: 9px;
}
.menu-bar
{
	background-color:black;
	height:40px;
	
	margin:auto;
	
}
.diffr-option
{
	padding: 4px;
font-size: 14px;
margin: 6px 70px;
}
.images-area{
	width:90%;
	background-color:#363636;
	margin:auto;
	height:350px;
}
.image1
{
	width:23%;
	
	float:left;
	
	
	margin:0 12px;
}
.image1 img{
	width:100%;
}
.image1 p
{
	    font-size: 20px;
    font-weight: bolder;
    color: white;
	text-align:center;
	line-height:0;
}
.image1 span
{
	    font-size: 14px;
    font-weight: bold;
    color: #c8c3c3;
    line-height: 0;
	padding:94px;
	line-height:0;

}
.discription
{
	width:40%;
	
	height:350px;
	float:left;
	margin-left:2%;
	
	
}
.discription p
{
	font-size: 18px;
font-weight: bold;
color: blue;
}
.rate
{
	width:20%;
	height:350px;
	background-color:aqua;
	float:left;
	margin-left:2%;
	
}